<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>

<body class="flex flex-col items-stretch min-h-screen">
    <header class="page-header bg-red text-white font-serif text-lg p-4">
        <nav class="flex max-w-screen-lg mx-auto">
            <a href="/" class="text-white font-bold mr-6 hover:text-red-100" title="Go home">
                Home
            </a>

            <a href="/notes/Locations/Ninarith/" class="text-white mr-6 hover:text-red-100" title="Go home">
                Ninarith
            </a>
            <a href="/notes/Groups%20and%20Organizations/Our%20Party/" class="mr-6 text-white hover:text-red-100">Our Party</a>
        </div>
    </header>

    <div class="p-4 w-full flex-grow">
        <main class="max-w-screen-lg  mx-auto ">
            {% include 'search.html' %}
            {{content}}
        </main>        
    </div>
    
    <footer class="page-footer w-full flex max-w-screen-lg mx-auto p-4">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>
