<hr class="my-6">

<h3>Backlinks</h3>
{% assign linkCount = 0 %}
{% if backlinks.length > 0%}
<ul class="backlinks-container">
    {% for link in backlinks %}
        {% unless link.isSession %}
            {% assign linkCount = linkCount | plus: 1 %}
            <li class="backlink">
                <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
            </li>            
        {% endunless %}
    {% endfor %}
</ul>
{% endif %}

{% if linkCount == 0 %}
    <p>No backlinks found.</p>
    {% include "random-post.html" %}
{% endif %}
