.dataview.dataview.inline-field-key {
  font-family: var(--font);
  border: 1px solid var(--accent);
  border-right: 0px;
  background-color: var(--dark-accent);
}
.theme-light .dataview.dataview.inline-field-key {
  color: var(--accent);
}
.theme-light .dataview.dataview.inline-field-value {
  color: var(--deep-dark-accent);
}

.dataview.dataview.inline-field-value {
  font-family: var(--font);
  border: 1px solid var(--accent);
}
